body {
    font-family: sans-serif;
    background-color: #e7e4dc;
  }
  
  .file-upload {
    background-color: #ffffff;
    width: 370px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #daca9a;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #bda458;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #bda458;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #daca9a;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #ffffff;
    border: 4px dashed #bda458;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: bold;
    font-size: 1.0rem;
    text-transform: uppercase;
    color: #757575;
    padding: 60px 10px;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  p#head {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 0;
    /* font-weight: bold; */
    /* font-family: 'Staatliches', cursive; */
    font-family: 'Nanum Pen Script', cursive;
    color: gray;
}

.result {
    text-align: center;
    background-color: #f0ede4;
    font-size: 1.5rem;
    color: grey;
    word-break: keep-all;
    word-wrap: break-word;
    margin-bottom: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Nanum Pen Script', cursive;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5)
}

#result:hover {
  text-align: center;
  background-color: #f0ede4;
  font-size: 1.5rem;
  color: grey;
  word-break: keep-all;
  word-wrap: break-word;
  margin-bottom: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Nanum Pen Script', cursive;
}

#notice {
    text-align: center;
    color: rgb(253, 151, 132);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.addthis_inline_share_toolbox {
  text-align: center;
}

.footer {
  text-align: center;
}

p.result-title {
  background-color: #f0ede4; font-size: 2.0rem; 
  margin-bottom: 0px; 
  font-family: 'Staatliches', cursive; 
  color: gray;
}

img.file-upload-image2 {
  width: 330px;
  text-align: center;
  /* filter: blur(5px);
  transition: all, 0.5s; */
}

img.file-upload-image4 {
  width: 330px;
  text-align: center;
  /* filter: blur(5px);
  transition: all, 0.5s; */
}

/* img#Face-image2:hover {
  width: 330px;
  text-align: center;
  filter: blur(0px);
  transition: all, 0.5s;
}

img#Face-image4:hover {
  width: 330px;
  text-align: center;
  filter: blur(0px);
  transition: all, 0.5s;
} */

p#actor-list {
  text-align: center;
  background-color: #f0ede4;
  font-size: 0.8rem;
  color: grey;
  word-break: keep-all;
  word-wrap: break-word;
}

  p#notice2 {
    text-align: center;
    background-color: #ffffff;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    word-break: keep-all;
    word-wrap: break-word;
  }
  
.actor-name {
  background-color: #f0ede4;
  font-size: 1.3rem;
  margin-bottom: 0px;
  font-family: 'Staatliches', cursive;
  color: gray;
  margin-bottom: 1px;}

  .footer {
    font-size: 1.0rem;
    font-family: 'Nanum Pen Script', cursive;
    color: #cd4535};

.park {margin-bottom: 8px;}

#visitor {
  font-family: 'Staatliches', cursive; 
  color: gray;
  text-align: center;
  font-size: 0.5rem;
  margin-top: 3px;
  margin-bottom: 0px;
}