html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(90, 90, 125);
    text-align: center;
}

.Main_Page {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('./3.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(62, 60, 98)
}

.Second_Page {
    display: none;
}

/* 배민 주아체 */
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 빙그레 싸만코체 Bold */
@font-face {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 엘리스디지털배움체B */
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 교보손글씨 */
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Second Page Title */
.Second_Page_Notice {
    color: #FFE8F5;
    margin-top: 2.5rem;
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    font-size: 3.0rem;
    white-space: normal;

}

/* Second Page P Tag */
.Second_Page_Notice_P {
    color: #FFE8F5;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'KyoboHand';
    font-weight: normal;
    font-size: 1.0rem;
    white-space: normal;
    text-align: justify;

}

/* Fifth Page P Tag */
.Fifth_Page_Notice_P {
    color: #FFE8F5;
    margin-top: 2.0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    font-size: 1.3rem;
    white-space: normal;

}

/* Fifth Page P2 Tag */
.Fifth_Page_Notice_P2 {
    color: #FFE8F5;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    font-size: 1.3rem;
    white-space: normal;

}

/* Fifth Page P3 Tag */
.Fifth_Page_Notice_P3 {
    color: #FFE8F5;
    margin-top: 2.0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'KyoboHand';
    font-weight: normal;
    font-size: 1.0rem;
    white-space: normal;
    text-align: justify;

}

/* Fifth Page P_E Tag */
.Fifth_Page_Notice_P_E {
    color: #FFE8F5;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    font-size: 1.3rem;
    white-space: normal;

}

/* Second Page Notice */
.Second_Page_Notice_P_Notice {
    text-align: left;
    color: #FFE8F5;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 0.5rem;
    font-family: 'KyoboHand';
    font-weight: normal;
    font-size: 0.5rem;
    white-space: normal;

}

/* Second Page Fontello in Notice */
.Second_Page_Notice_P_Notice_Fontello {
    text-align: left;
    color: #FFE8F5;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 0.5rem;
    font-family: 'fontello';
    font-weight: normal;
    font-size: 0.5rem;
    white-space: normal;
}

/* Second Page Contact Link in Notice */
.Second_Page_Notice_P_Notice_Fontello>a:link {
    color: #FFE8F5;
}

/* Second Page Contact Link(Visited) in Notice */
.Second_Page_Notice_P_Notice_Fontello>a:visited {
    color: #FFE8F5;
}

/* Start Button */
.Start {
    margin-top: 2.0rem;
    margin-bottom: 0.5rem;
    width: 20rem;
    height: 15rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    color: rgb(114, 114, 114);
    font-size: 4rem;
    font-family: 'fontello';
    transition: 0.5s;
}

/* Translation Button */
.Translation {
    margin-bottom: 0rem;
    margin-top: 0.25rem;
    width: 3rem;
    height: 2rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    color: rgb(114, 114, 114);
    font-size: 1.0rem;
    font-family: 'fontello';
    transition: 0.5s;
}

/* Translation_Introduction Button */
.Translation_Introduction {
    width: 3rem;
    height: 1rem;
    margin-bottom: 0.5rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    font-size: 0.5rem;
    transition: 0.5s;
    font-family: 'BMJUA';
    font-weight: normal;
    color: #FFE8F5;
}

/* Translation Button : Hover */
.Translation:hover {
    color: whitesmoke;
    border-radius: 10%;
    box-shadow:
        inset 0 0 30px whitesmoke,
        inset 7.5px 0 40px rgb(0, 14, 138),
        inset -7.5px 0 40px rgb(200, 255, 0),
        inset 7.5px 0 150px rgb(0, 14, 138),
        inset -7.5px 0 150px rgb(200, 255, 0),
        0 0 25px #fff,
        -5px 0 40px rgb(0, 14, 138),
        5px 0 40px rgb(200, 255, 0);
}

/* Start Button : Hover */
.Start:hover {
    color: whitesmoke;
    border-radius: 10%;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px #f0f,
        inset -15px 0 80px #0ff,
        inset 15px 0 300px #f0f,
        inset -15px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

.Third_Page {
    display: none;
}

/* Third Page Div1 Tag */
.Third_Page_Div {
    margin-top: 1.2rem;
    margin-left: 1rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 35% 65%;
    border-bottom: 1px dashed rgb(32, 32, 32);
}

/* Third Page Div2 Tag */
.Third_Page_Div2 {
    margin-top: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 65% 35%;
    border-bottom: 1px dashed rgb(32, 32, 32);
}

/* First Question Button */
.First_Question_Bt {
    width: 5rem;
    height: 3rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    color: rgb(114, 114, 114);
    font-size: 1.5rem;
    font-family: 'fontello';
    transition: 0.5s;
    justify-self: center;
    align-self: center;
}

/* First Question One Button : Click */
.First_Question_Bt_Click {
    color: whitesmoke;
    background-color: rgb(32, 32, 32);
    border-radius: 10%;
    width: 5rem;
    height: 3rem;
    border: 0px;
    font-family: 'fontello';
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
    transition: 0.5s;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px rgb(0, 153, 33),
        inset -15px 0 80px #0ff,
        inset 15px 0 300px rgb(0, 153, 33),
        inset -15px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px rgb(0, 153, 33),
        10px 0 80px #0ff;
}

/* First Question Two Button : Click */
.First_Question_Bt_Click2 {
    color: whitesmoke;
    background-color: rgb(32, 32, 32);
    border-radius: 10%;
    width: 5rem;
    height: 3rem;
    border: 0px;
    font-family: 'fontello';
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
    transition: 0.5s;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px rgb(150, 153, 0),
        inset -15px 0 80px rgb(204, 0, 255),
        inset 15px 0 300px rgb(150, 153, 0),
        inset -15px 0 300px rgb(204, 0, 255),
        0 0 50px #fff,
        -10px 0 80px rgb(150, 153, 0),
        10px 0 80px rgb(204, 0, 255);
}

/* First Question Three Button : Click */
.First_Question_Bt_Click3 {
    color: whitesmoke;
    background-color: rgb(32, 32, 32);
    border-radius: 10%;
    width: 5rem;
    height: 3rem;
    border: 0px;
    font-family: 'fontello';
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
    transition: 0.5s;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px rgb(71, 0, 153),
        inset -15px 0 80px rgb(43, 255, 0),
        inset 15px 0 300px rgb(71, 0, 153),
        inset -15px 0 300px rgb(43, 255, 0),
        0 0 50px #fff,
        -10px 0 80px rgb(71, 0, 153),
        10px 0 80px rgb(43, 255, 0);
}

/* First Question Four Button : Click */
.First_Question_Bt_Click4 {
    color: whitesmoke;
    background-color: rgb(32, 32, 32);
    border-radius: 10%;
    width: 5rem;
    height: 3rem;
    border: 0px;
    font-family: 'fontello';
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
    transition: 0.5s;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px rgb(204, 92, 0),
        inset -15px 0 80px rgb(255, 0, 98),
        inset 15px 0 300px rgb(204, 92, 0),
        inset -15px 0 300px rgb(255, 0, 98),
        0 0 50px #fff,
        -10px 0 80px rgb(204, 92, 0),
        10px 0 80px rgb(255, 0, 98);
}

/* First Question P Tag */
.First_Question {
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    font-size: 1.3rem;
    color: #FFE8F5;
    text-align: justify;
}

/* Next Question Move Button */
.Next {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 6rem;
    height: 3rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    color: rgb(114, 114, 114);
    font-size: 1.5rem;
    font-family: 'fontello';
    transition: 0.5s;
}

/* Next Question Move Button : Hover */
.Next:hover {
    color: whitesmoke;
    border-radius: 10%;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px #f0f,
        inset -15px 0 80px #0ff,
        inset 15px 0 300px #f0f,
        inset -15px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

/* Add Padding(0.5rem) */
.padding {
    padding: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.Fourth_Page {
    display: none;
}

/* Second Question Div */
.Second_Question_div {
    margin: auto;
    margin-top: 1.0rem;
    width: 18rem;
    height: 5rem;
    text-align: center;
    justify-self: center;
}

/* Second Question Button */
.Second_Question_Bt {
    width: 2rem;
    height: 2.5rem;
    border: 0px;
    border-radius: 5%;
    background-color: rgb(32, 32, 32);
}

/* Second Question Button Plus */
.Second_Question_Bt_Plus {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    width: 0.5rem;
    height: 1.0rem;
    border: 0px;
    border-radius: 5%;
    background-color: rgb(32, 32, 32);
    transform: translate(0, -75%);
}

/* Second Question One Button : Click */
.Second_Question_Bt_Click1 {
    background-color: rgb(32, 32, 32);
    border-radius: 5%;
    width: 2rem;
    height: 2.5rem;
    border: 0px;
    transition: 0.5s;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 7.5px 0 40px rgb(0, 79, 153),
        inset -7.5px 0 40px rgb(0, 195, 255),
        inset 7px 0 150px rgb(0, 79, 153),
        inset -7.5px 0 150px rgb(0, 195, 255),
        0 0 25px #fff,
        -5px 0 40px rgb(0, 79, 153),
        5px 0 40px rgb(0, 195, 255);
}

/* Second Question Two Button : Click */
.Second_Question_Bt_Click2 {
    background-color: rgb(32, 32, 32);
    border-radius: 5%;
    width: 2rem;
    height: 2.5rem;
    border: 0px;
    transition: 0.5s;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 7.5px 0 40px rgb(0, 153, 33),
        inset -7.5px 0 40px #0ff,
        inset 7px 0 150px rgb(0, 153, 33),
        inset -7.5px 0 150px #0ff,
        0 0 25px #fff,
        -5px 0 40px rgb(0, 153, 33),
        5px 0 40px #0ff;
}

/* Second Question Three Button : Click */
.Second_Question_Bt_Click3 {
    background-color: rgb(32, 32, 32);
    border-radius: 5%;
    width: 2rem;
    height: 2.5rem;
    border: 0px;
    transition: 0.5s;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 7.5px 0 40px rgb(153, 150, 0),
        inset -7.5px 0 40px rgb(238, 255, 0),
        inset 7.5px 0 150px rgb(153, 150, 0),
        inset -7.5px 0 150px rgb(238, 255, 0),
        0 0 25px #fff,
        -5px 0 40px rgb(153, 150, 0),
        5px 0 40px rgb(238, 255, 0);
}

/* Second Question Four Button : Click */
.Second_Question_Bt_Click4 {
    background-color: rgb(32, 32, 32);
    border-radius: 5%;
    width: 2rem;
    height: 2.5rem;
    border: 0px;
    transition: 0.5s;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 7.5px 0 40px rgb(204, 92, 0),
        inset -7.5px 0 40px rgb(255, 0, 98),
        inset 7.5px 0 150px rgb(204, 92, 0),
        inset -7.5px 0 150px rgb(255, 0, 98),
        0 0 25px #fff,
        -5px 0 40px rgb(204, 92, 0),
        5px 0 40px rgb(255, 0, 98);
}

/* Second Question Five Button : Click */
.Second_Question_Bt_Click5 {
    background-color: rgb(32, 32, 32);
    border-radius: 5%;
    width: 2rem;
    height: 2.5rem;
    border: 0px;
    transition: 0.5s;
    box-shadow:
        inset 0 0 60px rgba(245, 245, 245, 0.9),
        inset 7.5px 0 40px rgb(204, 0, 0),
        inset -7.5px 0 40px rgb(255, 0, 0),
        inset 7.5px 0 150px rgb(204, 0, 0),
        inset -7.5px 0 150px rgb(255, 0, 0),
        0 0 25px #fff,
        -5px 0 40px rgb(204, 0, 0),
        5px 0 40px rgb(255, 0, 0);
}

/* Second Question Five Puls Button : Click */
.Second_Question_Bt_Click5_Plus {
    background-color: rgb(32, 32, 32);
    border-radius: 5%;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    width: 0.5rem;
    height: 1.0rem;
    border: 0px;
    border-radius: 5%;
    transform: translate(0, -75%);
    box-shadow:
        inset 0 0 15px rgba(245, 245, 245, 0.9),
        inset 3.25px 0 20px rgb(204, 0, 0),
        inset -3.25px 0 20px rgb(255, 0, 0),
        inset 3.25px 0 75px rgb(204, 0, 0),
        inset -3.25px 0 750px rgb(255, 0, 0),
        0 0 12.5px #fff,
        -2.5px 0 20px rgb(204, 0, 0),
        2.5px 0 20px rgb(255, 0, 0);
}

/* Next Question Move Button */
.Second_Next {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 8rem;
    height: 4rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    color: rgb(114, 114, 114);
    font-size: 1.5rem;
    font-family: 'fontello';
    transition: 0.5s;
}

/* Next Question Move Button : Hover */
.Second_Next:hover {
    color: whitesmoke;
    border-radius: 10%;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px #f0f,
        inset -15px 0 80px #0ff,
        inset 15px 0 300px #f0f,
        inset -15px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

.Fifth_Page {
    display: none;
}

/* Final Page Move Button */
.Final_Step {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 8rem;
    height: 4rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    color: rgb(114, 114, 114);
    font-size: 1.5rem;
    font-family: 'fontello';
    transition: 0.5s;
}

/* Final Page Move Button : Hover */
.Final_Step:hover {
    color: whitesmoke;
    border-radius: 10%;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px #f0f,
        inset -15px 0 80px #0ff,
        inset 15px 0 300px #f0f,
        inset -15px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

/* Second Question P Tag */
.Second_Question {
    margin-top: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    font-size: 1.3rem;
    color: #FFE8F5;
    text-align: justify;
}

/* CurrentPage_TotalPage */
.CurrentPage_TotalPage {
    color: #FFE8F5;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.6rem;
    font-family: 'BMJUA';
    font-weight: normal;
    font-size: 0.7rem;
    white-space: normal;

}

/* Result Title P Tag */
.Result_Title {
    margin-top: 1.0rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    font-size: 2.0rem;
    color: #FFE8F5;
}

/* Result Article */
.Result_Article {
    text-align: justify;
    padding-top: 1.0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: 'EliceDigitalBaeum_Bold';
    font-weight: normal;
    font-size: 1.0rem;
    color: #FFE8F5;
}

/* Result Image2 */
.Result_IMG2 {
    display: inline;
    width: 41.5%;
    height: 41.5%;
    border: 1px solid black;
}

/* Introduction to the Result Image2 */
.Introduction_Result_IMG2 {
    text-align: center;
    padding-top: 1.0rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    color: #FFE8F5;
    font-size: 1.3rem;
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    justify-self: center;

}

/* Result Duplicate Button */
.Result_Duplicate_Bt {
    width: 5rem;
    height: 3rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    color: rgb(114, 114, 114);
    font-size: 1.3rem;
    font-family: 'fontello';
    transition: 0.5s;
    justify-self: center;

}

/* MovePageToMain Button */
.MovePageToMain {
    width: 5rem;
    height: 3rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    color: rgb(114, 114, 114);
    font-size: 1.3rem;
    font-family: 'fontello';
    transition: 0.5s;
    justify-self: center;

}

/* MovePageToOtherCharacters Button */
.MovePageToOtherCharacters {
    width: 5rem;
    height: 3rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 10%;
    color: rgb(114, 114, 114);
    font-size: 1.3rem;
    font-family: 'fontello';
    transition: 0.5s;
    justify-self: center;

}

/* Result Duplicate Button : Hover */
.Result_Duplicate_Bt:hover {
    color: whitesmoke;
    border-radius: 10%;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px rgb(134, 136, 0),
        inset -15px 0 80px #0ff,
        inset 15px 0 300px rgb(134, 136, 0),
        inset -15px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px rgb(134, 136, 0),
        10px 0 80px #0ff;
}

/* MovePageToMain Button : Hover */
.MovePageToMain:hover {
    color: whitesmoke;
    border-radius: 10%;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px #f0f,
        inset -15px 0 80px #0ff,
        inset 15px 0 300px #f0f,
        inset -15px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

/* MovePageToOtherCharacters Button : Hover */
.MovePageToOtherCharacters:hover {
    color: whitesmoke;
    border-radius: 10%;
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 15px 0 80px rgb(0, 90, 194),
        inset -15px 0 80px #0ff,
        inset 15px 0 300px rgb(0, 90, 194),
        inset -15px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px rgb(0, 90, 194),
        10px 0 80px #0ff;
}

/* Introduction to the Results button */
.Introduction_Result_Bt {
    width: 5rem;
    height: 1rem;
    background-color: rgb(32, 32, 32);
    border: 0px;
    border-radius: 5%;
    color: rgb(192, 192, 192);
    font-size: 0.5rem;
    font-family: 'BMJUA';
    font-weight: normal;
    justify-self: center;

}

/* Result Image2 */
.Result_IMG3 {
    display: inline;
    width: 20.0%;
    height: 10.0%;
    border: 1px solid black;
}

/* Result Page CSS */

/* Result Title_RESULT P Tag */
.Result_Title_RESULT {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    font-size: 2.0rem;
    color: #FFE8F5;
}

/* Result Image */
.Result_IMG {
    width: 80%;
    height: 80%;
    border: none;
    margin-top: 1rem;
}

/* Result Image 60 */
.Result_IMG_60 {
    width: 60%;
    height: 60%;
    border: none;
    margin-top: 1rem;
}

/* Result Image 40 */
.Result_IMG_40 {
    width: 40%;
    height: 40%;
    border: none;
    margin-top: 1rem;
    padding-left: 3rem;
}

/* Result Article_RESULT1 */
.Result_Article_RESULT1 {
    text-align: justify;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: 'EliceDigitalBaeum_Bold';
    font-weight: normal;
    font-size: 0.8rem;
    color: #FFE8F5;
}

/* Result_a */
.Result_a {
    text-decoration: none;
}

/* Result Article_RESULT3 */
.Result_Article_RESULT3 {
    text-align: justify;
    padding-top: 1.0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: 'KyoboHand';
    font-weight: normal;
    font-size: 1.0rem;
    color: #FFE8F5;
}

/* Second Page Fontello in Notice_RESULT */
.Second_Page_Notice_P_Notice_Fontello_RESULT {
    text-align: left;
    color: #FFE8F5;
    margin: 0px;
    padding: 0px;
    margin-left: 1.0rem;
    font-family: 'fontello';
    font-weight: normal;
    font-size: 1.5rem;
    white-space: normal;
}

/* Result_AD_Div */
.Result_AD_Div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Result_AD_Div2 */
.Result_AD_Div2 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

/* Result_AD_IMG */
.Result_AD_IMG {
    width: 250px;
}

/* Result_AD_IMG_200 */
.Result_AD_IMG_200 {
    width: 200px;
}

/* Result_AD_IMG_100 */
.Result_AD_IMG_100 {
    width: 100px;
}

/* Result_Recomand_P_Tag */
.Result_Recomand_P_Tag {
    font-family: 'EliceDigitalBaeum_Bold';
    color: #FFE8F5;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

/* Result_Recomand_P_Tag_Plus */
.Result_Recomand_P_Tag_Plus {
    font-family: 'KyoboHand';
    font-weight: normal;
    color: #ffa5d8;
    margin-top: 0rem;
    font-size: 0.8rem;
}

/* Result_Recomand_P_Tag_Plus_2 */
.Result_Recomand_P_Tag_Plus_2 {
    font-family: 'KyoboHand';
    font-weight: normal;
    color: #a5a8ff;
    margin-top: 0rem;
    font-size: 0.8rem;
    margin-bottom: 0rem;
}

/* Result_Recomand_P_Tag_Plus_3 */
.Result_Recomand_P_Tag_Plus_3 {
    font-family: 'KyoboHand';
    font-weight: normal;
    color: #f9dea3;
    margin-top: 0rem;
    font-size: 0.9rem;
    margin-top: 1.5rem;
}

/* Result Image2_RESULT */
.Result_IMG2_RESULT {
    display: inline;
    width: 80%;
    border: none;
}

/* Result Image2_RESULT2 */
.Result_IMG2_RESULT2 {
    display: inline;
    width: 110%;
    border: none;
    padding-top: 1rem;
  
}/* Introduction to the Result Image2_RESULT */
.Introduction_Result_IMG2_RESULT {
    text-align: justify;
    padding-top: 1.0rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    color: #FFE8F5;
    font-size: 1.0rem;
    font-family: 'KyoboHand';
    font-weight: normal;
    justify-self: center;
}

/* Coupang_AD_Div */
.Coupang_AD_Div {
    margin-top: 1.0rem;
}

/* ToTheTop */
#ToTheTop {
    color: #ffe8f5;
    font-size: 2.0rem;
    font-family: 'fontello';
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    display: none;
}

/* Other_Result_First_Div */
.Other_Result_First_Div {
    margin-bottom: 1.5rem;
}

/* Other_Result_Second_Div */
.Other_Result_Second_Div {
    text-align: center;
}

/* Mini_Image */
.Mini_Image {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Mini_Image_Detail */
#mini1 {
    background-image: url('./IMG/1.png');
    background-size: 100%;
}

#mini2 {
    background-image: url('./IMG/2.png');
    background-size: 65%;
}

#mini3 {
    background-image: url('./IMG/3.png');
    background-size: 90%;
}

#mini4 {
    background-image: url('./IMG/4.png');
    background-size: 45%;
}

#mini5 {
    background-image: url('./IMG/5.png');
    background-size: 100%;
}

#mini6 {
    background-image: url('./IMG/6.png');
    background-size: 100%;
}

#mini7 {
    background-image: url('./IMG/7.png');
    background-size: 90%;
}

#mini8 {
    background-image: url('./IMG/8.png');
    background-size: 110%;
}

#mini9 {
    background-image: url('./IMG/9.png');
    background-size: 90%;
}

#mini10 {
    background-image: url('./IMG/10.png');
    background-size: 100%;
}

#mini11 {
    background-image: url('./IMG/11.png');
    background-size: 90%;
}

#mini12 {
    background-image: url('./IMG/12.png');
    background-size: 80%;
}

#mini13 {
    background-image: url('./IMG/13.png');
    background-size: 90%;
}

#mini14 {
    background-image: url('./IMG/14.png');
    background-size: 90%;
}

#mini15 {
    background-image: url('./IMG/15.png');
    background-size: 70%;
}

/* Result_Mini_Div */
.Result_Mini_Div {
    border: 1px black solid;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    overflow:auto;
}

/* Result_Mini_Second_Div */
.Result_Mini_Second_Div {
    text-align: left;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Result_Mini_P */
.Result_Mini_P {
    font-family: 'fontello';
    display: inline;
}

/* Result_Mini_P2 */
.Result_Mini_P2 {
    display: inline;
    font-family: 'BinggraeSamanco-Bold';
    font-weight: normal;
    color: #FFE8F5;
    font-size: 1.3rem;
}

/* Result_Mini_Third_Div */
.Result_Mini_Third_Div {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* Mini_Story_P */
.Mini_Story_P {
    text-align: justify;
    margin-left: 0.5rem;
    display: inherit;
    font-family: KyoboHand;
    font-weight: normal;
    color: #FFE8F5;
    font-size: 0.8rem;
}

/* Mini_Image_1 */
.Mini_Image_1 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 45%;
    height: 45%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_2 */
.Mini_Image_2 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 30%;
    height: 30%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_3 */
.Mini_Image_3 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 35%;
    height: 35%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_4 */
.Mini_Image_4 {
    padding-left: 2rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 35%;
    height: 35%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_5 */
.Mini_Image_5 {
    margin-right: 0.5rem;
    width: 40%;
    height: 40%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_6 */
.Mini_Image_6 {
    margin-right: 0.5rem;
    width: 45%;
    height: 45%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_7 */
.Mini_Image_7 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 35%;
    height: 35%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_8 */
.Mini_Image_8 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 45%;
    height: 45%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_9 */
.Mini_Image_9 {
    margin-right: 0.5rem;
    width: 40%;
    height: 40%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_10 */
.Mini_Image_10 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 40%;
    height: 40%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_11 */
.Mini_Image_11 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 45%;
    height: 45%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_12 */
.Mini_Image_12 {
    margin-right: 0.5rem;
    width: 40%;
    height: 40%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_13 */
.Mini_Image_13 {
    margin-right: 0.5rem;
    width: 40%;
    height: 40%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_14 */
.Mini_Image_14 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 45%;
    height: 45%;
    float: left;
    margin-bottom: 0rem;
}

/* Mini_Image_15 */
.Mini_Image_15 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 35%;
    height: 35%;
    float: left;
    margin-bottom: 0rem;
}