body,
html {
    text-align: center;
    background-color: antiquewhite;
}

/* 교보손글씨 */
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Title_P {
    font-size: 1.5rem;
    font-family: 'KyoboHand';
}

.First_Div {
    border: 1px solid black;
    width: 22rem;
    display: inline-block;
    border-radius: 5%;
}

.First_Div_First_Div {
    text-align: left;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.ID_card {
    font-family: fontello;
    display: initial;
}

.Content_Title_1 {
    display: initial;
    font-family: KyoboHand;
    color: #3f00ff;
}

.Content_Title_2 {
    display: initial;
    font-family: KyoboHand;
    color: #ff9900;
}

.Content_Title_3 {
    display: initial;
    font-family: KyoboHand;
    color: #000000;
}

.Div_Column {
    column-count: 2;
}

.Div_Grid_Columns {
    grid-template-columns: 50% 50%;
    display: grid;
}

.img_1 {
    width: 100%;
    padding-left: 0.5rem;
}

.img_2 {
    width: 90%;
    padding-left: 0.5rem;
    align-self: center;
    padding-bottom: 2rem
}

.img_3 {
    width: 90%;
    padding-left: 0.5rem;
    align-self: center;
    padding-bottom: 3rem;
}

.Content_P_1 {
    font-family: KyoboHand;
    color: #3f00ff;
    padding-right: 0.5rem;
}

.Content_P_2 {
    padding-right: 0.5rem;
    font-family: KyoboHand;
    color: #ff9900;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.Content_P_3 {
    padding-right: 0.5rem;
    font-family: KyoboHand;
    color: #000000;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.Button {
    display: contents;
}

#Button_1 {
    margin-top: 0rem;
    font-family: fontello;
    font-size: 1.5rem;
}

#Button_2 {
    margin-top: 0rem;
    font-family: fontello;
    font-size: 1.5rem;
}

#Button_3 {
    margin-top: 0rem;
    font-family: fontello;
    font-size: 1.5rem;
}

.Content_P_3_1 {
    font-size: 0.5rem;
    padding-right: 0.5rem;
    font-family: KyoboHand;
    color: #000000;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}