    /* 빙그레 싸만코체 Bold */
    @font-face {
        font-family: 'BinggraeSamanco-Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        background-color: rgb(255, 250, 245);
        text-align: center;
    }

    .URL {
        margin-right: 1rem;
        border-radius: 15%;
        color: rgb(255, 250, 245);
        border: none;
        background-color: #D4B996;
        width: 3rem;
        height: 2rem;
        font-size: 0.8rem;
        font-family: 'fontello';
    }

    .RE {
        border-radius: 15%;
        color: rgb(255, 250, 245);
        border: none;
        background-color: #D4B996;
        width: 3rem;
        height: 2rem;
        font-size: 0.8rem;
        font-family: 'fontello';
    }

    .URL_P {
        color: rgb(255, 250, 245);
        background-color: #D4B996;
        font-size: 0.5rem;
        border-radius: 15%;
        border: none;
        font-family: 'BinggraeSamanco-Bold';
        margin-right: 1rem;
        width: 3rem;
        height: 1rem;
    }

    .RE_P {
        color: rgb(255, 250, 245);
        background-color: #D4B996;
        font-size: 0.5rem;
        border-radius: 15%;
        border: none;
        font-family: 'BinggraeSamanco-Bold';
        width: 3rem;
        height: 1rem;
    }

    .Foot_div {
        padding: 0.5rem;
        margin-left: 7rem;
        margin-right: 7rem;
        border-top: 1px dashed rgb(128, 128, 128);
        margin-top: 1rem;
    }

    .HomePage {
        margin-right: 1rem;
        color: #F2AA4C;
        display: inline;
        font-family: 'fontello';
    }

    .Youtube {
        color: red;
        display: inline;
        font-family: 'fontello';
    }

    .News {
        margin-left: 1rem;
        color: rgb(128, 128, 128);
        display: inline;
        font-family: 'fontello';
    }

    .Foot_Bt_A {
        text-decoration: none;
    }

    #Page_Up {
        display: none;
        position: fixed;
        bottom: 0.5rem;
        right: 0.5rem;
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 1rem solid #000000;
    }

    .Dic_First_div {
        border: 1px dashed rgb(128, 128, 128);
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .Dic_First_div>p {
        font-size: 1.5rem;
        font-family: fontello;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .Dic_First_div>pre {
        font-family: 'BinggraeSamanco-Bold';
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }

    .Dic_Content_Box_div {
        border: 1px dashed rgb(128, 128, 128);
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .Dic_Content_Box_div_2 {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .Dic_Content_Box_P1 {
        font-size: 1.5rem;
        color: #F2AA4C;
        font-family: fontello;
        display: inline-block;
        margin: auto;
    }

    .Dic_Content_Box_P_2 {
        padding-right: 1rem;
        font-family: 'BinggraeSamanco-Bold';
        display: inline;
    }

    .Dic_Content_Box_P_3 {
        margin-bottom: 0.5rem;
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Dic_Content_Box_P_4 {
        margin-top: 0.5rem;
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Dic_Content_Box_A {
        text-decoration: none;
    }

    .Dic_Content_Box_img {
        width: 40%;
    }

    .Dic_Content_Box_P_5 {
        margin-top: 0.3rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Dic_Content_Box_P2 {
        font-size: 1.5rem;
        color: #7b9acc;
        font-family: fontello;
        display: inline-block;
        margin: auto;
    }

    .Dic_Content_Box_P3 {
        font-size: 1.5rem;
        color: #A4193D;
        font-family: 'fontello';
        display: inline-block;
        margin: auto;
    }

    .Dic_Content_Box_P4 {
        font-size: 1.5rem;
        color: #DDA94B;
        font-family: 'fontello';
        display: inline-block;
        margin: auto;
    }

    .Dic_Content_Box_P5 {
        font-size: 1.5rem;
        color: #1AAFBC;
        font-family: 'fontello';
        display: inline-block;
        margin: auto;
    }

    .Dic_Content_Box_P6 {
        font-size: 1.5rem;
        color: #FFDFDE;
        font-family: 'fontello';
        display: inline-block;
        margin: auto;
    }

    .Dic_Content_Box_P7 {
        font-size: 1.5rem;
        color: #A07855;
        font-family: 'fontello';
        display: inline-block;
        margin: auto;
    }

    .Dic_Content_Box_P8 {
        font-size: 1.5rem;
        color: #FDD20E;
        font-family: 'fontello';
        display: inline-block;
        margin: auto;
    }

    .Dic_Content_Box_P9 {
        font-size: 1.5rem;
        color: #2BAE66;
        font-family: 'fontello';
        display: inline-block;
        margin: auto;
    }

    .Dic_Content_Box_P10 {
        font-size: 1.5rem;
        color: #333D79;
        font-family: 'fontello';
        display: inline-block;
        margin: auto;
    }

    .Dic_title {
        margin-top: 2.0rem;
        margin-bottom: 0.5rem;
        font-size: 3rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Dic_Main_Page {
        display: none;
    }