    /* 인피니티산스 Regular */
    @font-face {
        font-family: 'InfinitySans-RegularA1';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    /* 빙그레 싸만코체 Bold */
    @font-face {
        font-family: 'BinggraeSamanco-Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        background-color: rgb(255, 250, 245);
        text-align: center;
    }

    .First_Page {
        display: block;
        background-color: rgb(255, 250, 245);
        width: 100%;
    }

    .First_Page_IMG {
        margin-top: 6rem;
        width: 80%;
    }

    .Second_Page {
        display: none;
    }

    .Second_Page_IMG {
        margin-top: 1.5rem;
        width: 80%;
    }

    .Second_Page_P_div {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .Second_Page_P {
        margin-top: 1.5rem;
        margin-bottom: 1.0rem;
        font-size: 1.5rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Second_Page_Article {
        text-align: left;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Second_Page_P_2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Second_Page_P_3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Second_Page_P_4 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-family: 'BinggraeSamanco-Bold';
        color: rgb(128, 128, 128);
    }

    .Second_Page_Bt_div {
        background-color: white;
        border-bottom: 0.1rem solid rgb(200, 200, 200);

    }

    .Second_Page_Bt_P {
        display: inline;
        vertical-align: middle;
        color: rgb(14, 14, 14);
        font-family: 'InfinitySans-RegularA1';
        font-size: 1.0rem;
        font-weight: bold;
        padding-left: 3rem;
    }

    .Start_Bt {
        display: inline;
        vertical-align: middle;
        background-color: rgb(255, 255, 255);
        padding-left: 1.5rem;
        border: 0px;
        color: rgb(233, 232, 235);
        font-family: 'fontello';
        font-size: 2.0rem;
    }

    .Second_Page_Notice_div {
        background-color: rgb(242, 241, 246);
    }

    .Second_Page_Notice_P {
        text-align: left;
        margin-top: 0rem;
        margin-bottom: 1rem;
        padding-top: 0.5rem;
        color: rgb(112, 111, 116);
        font-family: fontello;
        font-size: 0.5rem;
    }

    .Second_Page_Foot {
        margin-top: 0rem; 
        margin-bottom: 0rem; 
        color: rgb(128, 128, 128); 
        text-align: left; 
        font-size: 0.5rem; 
        font-family: 'BinggraeSamanco-Bold';}

    .Second_Page_Notice_P_2 {
        padding-bottom: 1rem;
        color: rgb(180, 180, 180);
        font-size: 1.0rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Second_Page_Notice_a {
        text-decoration: none;
        color: rgb(112, 111, 116);
    }

    .Second_Page_Notice_a_2 {
        text-decoration: none;
        color: rgb(67, 130, 245);
    }

    .Third_Page {
        display: none;
    }

    .Padding {
        padding-top: 0.5rem;
        margin-top: 0rem;
    }

    .Question_Bt {
        border: none;
        background: none;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .Question_Bt_IMG {
        width: 1.5rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .Question {
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-family: 'BinggraeSamanco-Bold';
        font-size: 1.2rem;
    }

    .CurrentPage_TotalPage {
        font-family: 'BinggraeSamanco-Bold';
    }

    .NextStep_Bt {
        margin-top: 0.5rem;
        border: none;
        background: none;
    }

    #span {
        font-family: fontello;
        font-size: 1.5rem;
        color: #aab8c2;
    }

    #span:hover {
        font-family: fontello;
        font-size: 1.5rem;
        color: rgb(226 38 77);
    }

    .Fourth_Page {
        display: none;
    }

    .Fourth_Page_IMG {
        width: 100%;
    }

    .Fourth_Page_P_div {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .Fourth_Page_P {
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Fourth_Page_P_2 {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Fourth_Page_P_div_2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .Fourth_Page_P_3 {
        margin-bottom: 0.5rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Fourth_Page_P_4 {
        margin-top: 0.5rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Fourth_Page_Bt_div {
        display: inline-table;
        height: 2rem;
    }

    #Fourth_Page_Bt {
        margin-top: 1.5rem;
        color: rgb(128, 128, 128);
        font-size: 1.5rem;
        font-family: 'fontello';
    }

    #Fourth_Page_Bt:hover {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        font-family: 'fontello';
        color: rgb(226 38 77);
    }

    .Fourth_Page_Notice_P {
        margin-bottom: 0.5rem;
        font-size: 0.7rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Fourth_Page_Notice_P_2 {
        margin-top: 0.5rem;
        margin-bottom: 5rem;
        font-size: 0.7rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Fifth_Page {
        display: none;
    }

    .Fifth_Page_IMG {
        width: 100%;
    }

    .Fifth_Page_First_div {
        margin-top: 1rem;
        border: 1px dashed rgb(128, 128, 128);
        margin-left: 1.0rem;
        margin-right: 1.0rem;
    }

    .Fifth_Page_Title {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 10% 90%;
    }

    .Fifth_Page_Title_Fontello {
        font-size: 1.2rem;
        font-family: fontello;
        display: inline;
        margin: auto;
    }

    .Fifth_Page_Title_Dscription {
        font-size: 1.2rem;
        font-family: 'BinggraeSamanco-Bold';
        display: inline;
        padding-left: 0.5rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .Fifth_Page_Dscription {
        font-size: 1.0rem;
        font-family: 'BinggraeSamanco-Bold';
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .Fifth_Page_Dscription_2 {
        font-size: 1.0rem;
        font-family: 'BinggraeSamanco-Bold';
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .Fifth_Page_Detail_div {
        padding-bottom: 0.5rem;
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 1rem;
        border: 1px dashed rgb(128, 128, 128);
        margin-left: 1.0rem;
        margin-right: 1.0rem;
    }

    .Detail_F_1 {
        color: #F2AA4C;
        padding-left: 0.2rem;
        display: inline;
        font-family: fontello;
    }

    .Detail_Box {
        display: inline-flex;
        margin-top: 0.5rem;
        border: 1px solid rgb(128, 128, 128);
        width: 0.8rem;
        height: 1rem;
        vertical-align: sub;
    }

    .Ditail_span {
        display: inline;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Detail_F_2 {
        color: #7b9acc;
        padding-left: 0.2rem;
        display: inline;
        font-family: 'fontello';
    }

    .Detail_F_3 {
        color: #A4193D;
        padding-left: 0.2rem;
        display: inline;
        font-family: 'fontello';
    }

    .Detail_F_4 {
        color: #DDA94B;
        padding-left: 0.2rem;
        display: inline;
        font-family: 'fontello';
    }

    .Detail_F_5 {
        color: #1AAFBC;
        padding-left: 0.2rem;
        display: inline;
        font-family: 'fontello';
    }

    .Detail_F_6 {
        color: #FFDFDE;
        padding-left: 0.2rem;
        display: inline;
        font-family: 'fontello';
    }

    .Detail_F_7 {
        color: #A07855;
        padding-left: 0.2rem;
        display: inline;
        font-family: 'fontello;'
    }

    .Detail_F_8 {
        color: #FDD20E;
        padding-left: 0.2rem;
        display: inline;
        font-family: 'fontello';
    }

    .Detail_F_9 {
        color: #2BAE66;
        padding-left: 0.2rem;
        display: inline;
        font-family: 'fontello';
    }

    .Detail_F_10 {
        color: #333D79;
        padding-left: 0.2rem;
        display: inline;
        font-family: 'fontello';
    }

    .Fifth_Page_Reco_div {
        margin-left: 1.0rem;
        margin-right: 1.0rem;
        border: 1px dashed rgb(128, 128, 128);
        margin-top: 1rem;
    }

    .Fifth_Page_Reco_IMG {
        margin-bottom: 0rem;
        margin-top: 0.5rem;
        width: 35%;
    }

    .Fifth_Page_Reco_P {
        margin-top: 0rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Fifth_Page_Reco_div_2 {
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: 80% 20%;
    }

    .Fifth_Page_Reco_div_2_P {
        display: contents;
        font-size: 0.8rem;
        padding-left: 1rem;
        margin: 0rem;
        font-family: 'BinggraeSamanco-Bold';
    }

    .Fifth_Page_Reco_div_2_A {
        margin: auto;
        font-size: 1rem;
        font-family: 'fontello';
        color: rgb(255, 0, 0);
    }

    .Fifth_Page_Reco_div_2_A_2 {
        margin: auto;
        font-size: 1rem;
        font-family: 'fontello';
        color: rgb(0, 0, 0);
    }

    .Fifth_Page_URL {
        margin-right: 1rem;
        border-radius: 15%;
        color: rgb(255, 250, 245);
        border: none;
        background-color: #D4B996;
        width: 3rem;
        height: 2rem;
        font-size: 0.8rem;
        font-family: 'fontello';
    }

    .Fifth_Page_RE {
        border-radius: 15%;
        color: rgb(255, 250, 245);
        border: none;
        background-color: #D4B996;
        width: 3rem;
        height: 2rem;
        font-size: 0.8rem;
        font-family: 'fontello';
    }

    .Fifth_Page_Dic {
        margin-left: 1rem;
        border-radius: 15%;
        color: rgb(255, 250, 245);
        border: none;
        background-color: #D4B996;
        width: 3rem;
        height: 2rem;
        font-size: 0.8rem;
        font-family: 'fontello';
    }

    .Fifth_Page_URL_P {
        color: rgb(255, 250, 245);
        background-color: #D4B996;
        font-size: 0.5rem;
        border-radius: 15%;
        border: none;
        font-family: 'BinggraeSamanco-Bold';
        margin-right: 1rem;
        width: 3rem;
        height: 1rem;
    }

    .Fifth_Page_RE_P {
        color: rgb(255, 250, 245);
        background-color: #D4B996;
        font-size: 0.5rem;
        border-radius: 15%;
        border: none;
        font-family: 'BinggraeSamanco-Bold';
        width: 3rem;
        height: 1rem;
    }

    .Fifth_Page_Dic_P {
        color: rgb(255, 250, 245);
        background-color: #D4B996;
        font-size: 0.5rem;
        border-radius: 15%;
        border: none;
        font-family: 'BinggraeSamanco-Bold';
        margin-left: 1rem;
        width: 3rem;
        height: 1rem;
    }

    .Fifth_Page_Foot_div {
        padding: 0.5rem;
        margin-left: 7rem;
        margin-right: 7rem;
        border-top: 1px dashed rgb(128, 128, 128);
        margin-top: 1rem;
    }

    .Fifth_Page_HomePage {
        margin-right: 1rem;
        color: #F2AA4C;
        display: inline;
        font-family: 'fontello';
    }

    .Fifth_Page_Youtube {
        color: red;
        display: inline;
        font-family: 'fontello';
    }

    .Fifth_Page_News {
        margin-left: 1rem;
        color: rgb(128, 128, 128);
        display: inline;
        font-family: 'fontello';
    }

    .Fifth_Page_Foot_Bt_A {
        text-decoration: none;
    }

    #Reco_Youtube>a {
        text-decoration: none;
    }

    #Reco_News>a {
        text-decoration: none;
    }

    .QR {
        margin-top: 5rem;
        width: 40%;
    }