    /* 카페24 써라운드 */
    @font-face {
        font-family: 'Cafe24Ssurround';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    /* HS유지체 */
    @font-face {
        font-family: 'HSYuji-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .head_section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;

    }

    .head_div {
        grid-template-rows: 2;
        justify-content: center;
        width: 50rem;
        height: 20rem;
        border-radius: 80px;
        background-color: #efaaaa;
    }

    .head_p {
        text-align: center;
        font-family: fontello;
        color: white;
        font-size: 6rem;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    .head_p2 {
        text-align: center;
        font-family: Cafe24Ssurround;
        color: white;
        font-size: 3rem;
        margin-top: 1rem;
    }

    .footer_div {
        margin-top: 1rem;
        border: 1px solid rgb(185, 185, 185);
    }

    .footer_div2 {
        text-align: right;
        margin-top: 1rem;
    }

    .footer_div3 {
        text-align: right;
        margin-bottom: 1rem;
    }

    .footer_span_fontello {
        font-family: fontello;
        padding-right: 1.0rem;
    }

    .footer_span_text {
        font-family: HSYuji-Regular;
        font-size: 0.5rem;
        padding-right: 1.0rem;
    }

    .footer_span_a {
        text-decoration: none;
        color: black;
    }

    .footer_span_a:hover {
        color: rgb(160, 145, 95);
    }

    .head_menu_line {
        border-bottom: 1px solid rgb(185, 185, 185);
        ;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .head_menu_first {
        text-decoration: none;
        color: black;
    }

    .head_menu_second {
        padding-bottom: 0.5rem;
    }

    .menu {
        text-decoration: none;
        color: black;
        display: none;
    }