<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Jquery 적용 Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
    <style>
        @font-face {
            font-family: '국립박물관문화재단클래식B';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: '국립박물관문화재단클래식B';
        }
    </style>
</head>

<body style="background: rgb(200, 158, 108); text-align: center;">

    <div class="first"
        style="display: inline-block; background: rgb(200, 158, 108); background-image: url(../image/main.jpg); background-size: contain; background-repeat: no-repeat; width: 22rem; height: 14rem; ">
    </div>

    <div class="second" style="display: none; z-index: -1;">
        <h1 style="margin-top: 3rem;">Title</h1>
        <h3>Subtitle</h3>
        <article style="text-align: left; margin-left: 0.5rem; margin-right: 0.5rem;">&nbsp Description complete,
            comprehensive, detailed, full | accurate, apt, clear, exact, excellent, fair, fitting, good, perfect | rich,
            &nbsp vivid | graphic, lurid | lengthy, long | brief, short | basic, simple | general, vague | objective |
            formal
            | verbal, written | physical | job</article>
        <div>
            <button id="Start"
                style="color: black; text-decoration: none; font-size: 2rem; margin-top: 2rem; height: 3rem; width: 10rem; border-radius: 10px; border: 0px; background-color: burlywood;">Start</button>
        </div>
        <div>
            <article style="margin-top: 2rem;">Notice</article>
        </div>
    </div>

    <div style="display: none; z-index: -2;" class="third">
        <div style="display: flex; justify-content: center;">
            <div
                style="margin-top: 3rem; background-color: black; width: 1rem; height: 1rem; border: 1px solid black; float: left; margin-right: 0.2rem;">
            </div>
            <div id="percent"
                style="margin-top: 3rem; width: 1rem; height: 1rem; border: 1px solid black; float: left; margin-right: 0.2rem;">
            </div>
<!--             <div style="margin-top: 3rem; width: 1rem; height: 1rem; border: 1px solid black; float: left;"></div> -->
        </div>
        <h1 id="Question">Question</h1>
        <article id="Question_Desc">Question Description1</article>
        <img id="image" style="margin-top: 1rem; width: 100%;" src="../image/yim.jpg">
        <button id="button" style="border: none; background-color: burlywood; margin-top: 0.5rem;">Disagree</button>
        <button id="button2" style="border: none; background-color: burlywood; margin-top: 0.5rem;">Neutrality</button>
        <button id="button3" style="border: none; background-color: burlywood; margin-top: 0.5rem;">Agree</button>
        <br>
        <br>
        <div>
            <button id="result"
                style="display: none; border: none; background-color: burlywood; margin-top: 0.5rem;">Result</button>
        </div>
    </div>


    <div>
        <input id="input1" type="hidden" value="0">
        <input id="input2" type="hidden" value="0">
        <input id="input3" type="hidden" value="0">
    </div>

    <script>

        var ul = "../image/ul.jpg"

        window.onload = function () {
            $('.first').fadeOut(2000);
            $('.second').fadeIn(1500);
        }

        $('#Start').click(function () {
            $('.second').fadeOut(0);
            $('.third').fadeIn(1000);
        })

        $('#button').click(function () {
            $('#percent').css('background-color', 'black');
            $('#Question').html('Question2');
            $('#Question_Desc').html('Question Description2');
            $('#image').attr('src', '../image/ul.jpg')
            var input1 = $('#input1').val();
            var input2 = $('#input2').val();
            var input3 = $('#input3').val();
            var mod_input1 = input1 * 1 + 1;
            var mod_input2 = input2 * 1;
            var mod_input3 = input3 * 1;
            var sum = mod_input1 + mod_input2 + mod_input3;
            $('#input1').attr('value', mod_input1);
            if (sum >= 2) {
                $('#button').fadeOut(0);
                $('#button2').fadeOut(0);
                $('#button3').fadeOut(0);
                $('#result').fadeIn(1000);
            }
        })

        $('#button2').click(function () {
            $('#percent').css('background-color', 'black');
            $('#Question').html('Question2');
            $('#Question_Desc').html('Question Description2');
            $('#image').attr('src', '../image/ul.jpg')
            var input1 = $('#input1').val();
            var input2 = $('#input2').val();
            var input3 = $('#input3').val();
            var mod_input1 = input1 * 1;
            var mod_input2 = input2 * 1 + 1;
            var mod_input3 = input3 * 1;
            var sum = mod_input1 + mod_input2 + mod_input3;
            $('#input2').attr('value', mod_input2);
            if (sum >= 2) {
                $('#button').fadeOut(0);
                $('#button2').fadeOut(0);
                $('#button3').fadeOut(0);
                $('#result').fadeIn(1000);
            }
        })

        $('#button3').click(function () {
            $('#percent').css('background-color', 'black');
            $('#Question').html('Question2');
            $('#Question_Desc').html('Question Description2');
            $('#image').attr('src', ul)
            var input1 = $('#input1').val();
            var input2 = $('#input2').val();
            var input3 = $('#input3').val();
            var mod_input1 = input1 * 1;
            var mod_input2 = input2 * 1;
            var mod_input3 = input3 * 1 + 1;
            var sum = mod_input1 + mod_input2 + mod_input3;
            $('#input3').attr('value', mod_input3);
            if (sum >= 2) {
                $('#button').fadeOut(0);
                $('#button2').fadeOut(0);
                $('#button3').fadeOut(0);
                $('#result').fadeIn(1000);
            }
        })

        $('#result').click(function () {
            var input1 = $('#input1').val();
            var input2 = $('#input2').val();
            var input3 = $('#input3').val();
            alert("Disagree : " + input1 + " " + "Neutrality : " + input2 + " " + "Agree : " + input3);
        })

    </script>

</body>

</html>
